@use "./vars" as v;
@use "./mixins" as m;

.services {
    margin-bottom: 15rem;
    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        @include m.for-tablet {
            justify-content: left;
        }
        & > div {
            @include m.for-tablet {
                width: 50%;
            }
            @include m.for-phone {
                width: 100%;
            }
        }
    }
    div > * + * {
        margin-top: 0.5rem;
    }

    div {
        text-align: center;
        img {
            margin: 0 auto;
        }
    }
    h3 {
        text-transform: capitalize;
        font-size: 2rem;
    }
    p {
        font-weight: 300;
        font-size: 2rem;
    }
}
