@use "./vars" as v;
@use "./mixins" as m;

.subscribe {
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-family: v.$ff-Poller-One;
            color: v.$active-links;
            font-size: 6rem;
            text-transform: uppercase;
            @include m.for-tablet {
                font-size: 4rem;
            }

            @include m.for-phone {
                font-size: 3.2rem;
            }
        }
        p {
            font-size: 2.2rem;
            font-weight: 300;
            margin-bottom: 7rem;
            text-align: center;
        }
    }

    &__input {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 6rem;
        background-color: #fff;
    }
    input {
        border: none;
        background: #fff;
        padding: 1.6rem;
        width: 650px;
        max-width: 70%;
        font-size: 2rem;
    }
    button {
        border: none;
        background: transparent;
        background: #fff;
        // padding: 1.6rem;
        height: 100%;
        font-size: 1.7rem;
        text-transform: uppercase;
        font-family: v.$ff-Poller-One;
    }
    &__socials {
        margin-bottom: 12rem;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            font-size: 2.3rem;
        }
        a {
            color: #dcdad4;
            &:hover {
                color: v.$active-links;
            }
        }
    }
}
