$ff-Josefin-Sans: "Josefin Sans", sans-serif;
$ff-Poller-One: "Poller One", serif;
$background-header: #f6f4ef;
$black-color: rgba(0, 0, 0, 0.65);
$active-links: #e93e4b;
$main-heading: #f8f8f8;
$background-orange:#F68A25;
